*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    text-align: center;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px;
    margin-top: 50px;
}

h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    margin: 50px 0;
}